.navbar.dark{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 70px;
    background: var(--bg-1);
    z-index: 100;
}

.navbar.dark .part1{
  display: flex;
  width: 30%;
  height: 100%;
}
.navbar.dark .part1 svg{
  display: none;
}
.navbar.dark .part2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
  width: 60%;
  height: 100%;
}
.navbar.dark .part1 span{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.navbar.dark .part1 span #logo{
  width: 40%;
}

.navbar.dark .part2 .navitem{
  font-size: 16px;
color: white;
}
.navbar.dark .part2 .theme{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  outline: 2px solid var(--border-1);
}
.navbar.dark .part2 .theme img{
  width: 80%;
}
.navbar.dark .part2 .login,.navbar.dark .part2 .sign{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 10px;
background: linear-gradient(to right, red, purple);
  color: white;
}
.navbar.dark .part2 .login button,.navbar.dark .part2 .sign button{
  width: 93%;
  height: 88%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--bg-1);
}
.navbar.dark .part2 .login button:hover,.navbar.dark .part2 .sign button:hover{
  background: #fff;
  font-weight: 500;
  color: var(--bg-1);
}

.sidebar{
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: scroll;
  z-index: 200;
  width: 100%;
  left: -100%;
  height: 100%;
  transition: var(--transition-2);
  background: var(--bg-1);
}

.sidebar.active{
  left: 0;
}
.sidebar span{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  width: 80%;
  height: 100px;
}
.sidebar span #logo{
  width: 85%;
}
.sidebar .part2{
  display: flex;
  gap: 20px;
  padding-left: 50px;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}
.sidebar .part2 .flexitem{
  font-size: 22px;
  display: flex;
  gap: 10px;
  width: 100%;
}
.sidebar .part2 .flexitem svg{
  width: 50px;
}
.sidebar .part2 .flexitem p{
  color: white;
}
.sidebar .part2 .flexitem select{
  background: var(--bg-1);
  border: none;
  color: white;
  font-size: 22px;
}
.sidebar .part2 .flexitem option{
  font-size: 16px;
}
.sidebar.active .close{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  position: absolute;
  right: 20px;
  top: 30px;
  width: 50px;
  height: 50px;
  background: rgba(22, 76, 255, 0.176);
  border-radius: 15px;
  border: 3px solid rgb(33, 122, 255);
}
.flexsidebar{
    position: fixed;
    width: 80%;
    height: 100%;
    background:rgba(0, 0, 0, 0.582);
    backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
    display: none;
    left: -80%; /* Initially off-screen to the left */
}
.flexsidebar div{
    margin: 10px;
    width: 90%;
    height: 80%;
}
.flexsidebar.open div .flexitem{
    cursor: pointer;
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: "Poppins";
    padding-left: 15px;
    padding-top: 30px;
    font-size: 16px;
    border: none;
    background: none;
}
.flexsidebar.open div select{
  cursor: pointer;
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-size: 20px;
    padding-left: 20px;
    border: none;
    background: none;
}
.flexsidebar.open div select:focus{
  border:1px solid none;
}
.flexsidebar.open div select option{
  font-size: 16px;
  background: #3c3c3c;
}
.flexsidebar.open div .profileitem{
  margin: 0;
  cursor: pointer;
  color: white;
  width: 100%;
  height: 70px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Poppins";
  font-size: 18px;
  border: none;
  background: none;
}
.flexsidebar.open div .profileitem .profilelink{
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  background: white;
}
.flexsidebar.open div .profileitem .profilelink img{
  width: 100%;
  border-radius: 50%;
}
.flexsidebar.open div .flexitem:hover{
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.495);
}
.flexsidebar.open div .flexitem p{
   margin: 4px;
    margin-left: 20px;
    font-size: 20px;
}
.backshadow{
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.721);
    width: 100%;
    height: 100vh;
    z-index: 60;
    backdrop-filter: blur(5px); /* Adjust the blur radius as needed */

}

@media (max-width:600px){
    .navbar{
        width: 100%;
    }
    .navbar.dark .part1{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 70%;
    }
    .navbar.dark .part2{
      gap: 10px;
      width: 30%;
    }
     .navbar.dark .part1 span{
      width: 100%;
     }

     .navbar.dark .part1 span #logo{
      width: 75%;
     }
    .navbar.dark .part2 .navitem,.navbar.dark .part2 a{
     display: none;
    }
    .navbar.dark .part1 #bar {
      border: 3px solid var(--border-1);
      border-radius: 15px;
      height: 50px;
      width: 50px;
      font-size: 30px;
      padding: 8px;
      color: white;
        display: block;
    }
    .navbar.dark .part1 #bar svg{
        display: block;
    }
    .flexsidebar.open{
        z-index: 101;
        left: 0; 
        display: block;
        transition: left 4s ease-out;
    }
    .backshadow.open{
        display: block;
        z-index:9;
    }

 }

 /* CSS for theme toggle button */
.theme-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #000; /* Change color as needed */
    font-size: 16px; /* Adjust spacing as needed */
  }
  
  .theme-toggle:hover {
    text-decoration: underline;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
    line-height: 1;
  }
  
  .input {
    display: none;
  }
  
  .icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
  }
  
  .icon--moon {
    color: yellow;
    transition-delay: 200ms;
  }
  
  .icon--sun {
    color: orange;
    transform: scale(0);
  }
  
  #switch:checked + .icon--moon {
    transform: rotate(360deg) scale(0);
  }
  
  #switch:checked ~ .icon--sun {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
  }

  :root {
    --color-border:
    rgb(255 255 255 /16%);
  }
  .dropdown {
    position: relative;
    cursor: pointer;
  }

  .dropdown > a {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 72px;
    color: white;
  }

  .dropdown > a > span {
    font-size: 20px;
    color: 
    rgb(255 255 255 /24%);
    translate: 0 2px;
  }

  .menu{
    position: absolute;
    top: 50px;
    width: 120px;
    height: 170px;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    display: grid;
    justify-content: center;
    align-items: center;
    background: #3c3c3c;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  .dropdown:hover .menu{
    opacity: 1;
    visibility: visible;
  }

  .menu::before{
    content: "";
    position: absolute;
    background: inherit;
    border-top: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    top: -7px;
    right: 22px;
    width: 12px;
    height: 12px;
    rotate: -45deg;
  }

  .menu >a{
    padding: 8px 30px;
    font-size: 15px;
    color: white;
  }

  .menu > a:hover{
    background: rgb(255 255 255 /4%);
  }